<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content= "width-device-width, initial-scale=1.0">
        <title>My Travel App</title>
    </head>
    <body>
        <header>
            <div class="headerTitle">
                <h1 class="page_title">My Travel App</h1>    
            </div> 
        </header>
        <main>
            <section class="input-card">
                <h1 class="introTitle" >Intro Text</h1>
                <section class="introText">
                    <p>My Trip.</p>
                </section>
                <section id="errors">
                    <!-- Shows errors when they occur -->
                </section>
                    <section class="inputform">
                        <form class="form">
                            <section id="inputArea">
                                <input id="startLocation"  class="inputStart" name="input" rows="5" cols="60" value="" placeholder="Starting Location"></input>
                                <label for="startCountry-select">Please Select Country</label>
    <select id="startCountry-select" class="crs-country" data-default-value="Switzerland" data-region-id="not-shown"  data-preferred="CH,DE,US,GB,FR,SE" data-show-default-option="false" data-value="shortcode"></select>
    <select  id="not-shown"></select>

                                <input id ="finalLocation" class="inputFinal" name="input" rows="5" cols="60" value="" placeholder="Final Location"></input>
                                <input id ="citySearch" class="inputFinal" name="input" rows="5" cols="60" placeholder="Search for a city!"></input>
                                <section id="loading">
                                    <!-- show loading gif when loading data from API -->
                                </section>
                                <!-- <select id="geoNamesCitySearch">
                                    <option>City search results appear here. Select one!</option>
                                </select> -->
                                <div id=geoNamesCitySearch">
                                    <ul id="searchList"  style="display: none;">
                                    </ul>
                                </div>



                                <!-- <button class="button" value="citySearch" data-value="citySearch">Search</button> -->
                                <label for="finalCountry-select">Please Select Country</label>
    <select id="finalCountry-select" class="crs-country" data-default-value="Switzerland" data-region-id="not-shown"  data-preferred="CH,DE,US,GB,FR,SE" data-show-default-option="false" data-value="shortcode"></select>
    <select  id="not-shown"></select>
                            <div>
                                <label for="dateInput">
                                    <span class="field-label">Date of Departure</span>
                                </label>
                                <input id="date" type="date" class="inputFinal" name="dateInput" value="" min="2021-02-01" required placeholder="DD/MM/YYYY" aria-hidden="false"></einput>
                                <span class="validity"></span>
                            </div>
                                <!-- <input id="country" type="text" name="input" -->
<!-- TODO: Add units button                                <button class="units" -->
                                <button class="button" type="submit" name="" value="submit">Submit Search</button>
                            </section>
                        </form>
                    </section> <!--close input form-->
            </section>
            <section class="results">
                <!-- <strong>Sentiment Analysis:</strong>
                <p>The Meaning Cloud API returned the following summary results for the submitted text/URL</p>
           
                <p></p> -->
                <button id="error" class="error"></button>
            </section>
        </main>
        <footer>
            <p class="logoText">This website uses the APIs from PixaBay, GeoNames and Weatherbit. </p>
            <a href="https://www.meaningcloud.com/">
                <!-- <img src={meaningCloudLogo} alt="meaning cloud logo"> -->
                <!-- <img class="logo" src='./img/meaning-cloud-logo.png' alt="meaning cloud logo"> -->
            </a>
        </footer>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // document.getElementById("inputAreaType").checked = false

            //Clears input form on reload
            //TODO: UNCOMMENT AFTER TESTING
            const errors = document.getElementById("errors").innerHTML = "";
            // const startLocation = document.getElementById("startLocation").innerHTML = "";
            // const finalLocation = document.getElementById("finalLocation").innerHTML = "";
            // const date = document.getElementById("date").value = "";
        })
    </script>
    <script>
        // if('serviceWorker' in navigator){
        //     //Use the window load event to keep the page load performant
        //     window.addEventListener('load', () => {
        //         navigator.serviceWorker.register('/service-worker.js');
        //     });
        // }
        // function formHandler(event) {
        //     event.preventDefault();
        //     const clickTarget = event.target;
        //     console.log("current event.target", clickTarget.nodeName);
        // }

        // document.body.addEventListener('click', formHandler);
    </script>
    <script src="/src/client/js/crs.js" type="text/javascript"></script>
    <!-- <script src="./js/formHandler.js" type="text/javascript"></script> -->
</html>

<!-- For popup support the library popper.js from https://popper.js.org has been used -->
<!-- For date support https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
<!-- Additional Date Support https://www.smashingmagazine.com/printed-books/form-design-patterns/ -->