<!DOCTYPE html>
<html lang="en" dir="ltr" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content= "width-device-width, initial-scale=1.0">
        <title>Trip Travel App</title>
    </head>
    <body id="background">
        <main>
        <button id="openTrips" class="button plannedTrips" >Planned Trips</button>
            <section class="headerTitle">
                <h1 class="introTitle" >Trip Manager</h1>
                <section class="introText">
                    <p class="introText">Plan & manage your trips-simply, with ease.</p>
                </section>
            </section>
                <div id="inputForm" class="inputform" >
                    <form class="form">
                        <section id="inputArea">
                            <input id="startLocation" tooltip="Search for a city."  class="inputStart inputIncomplete" name="input" value="" placeholder="  Starting Location"  autocomplete="off"></input>
                            <div>
                                <ul id="startLocation-searchList"  style="display: none;" value="none">
                                </ul>
                            </div>
                            <input id="startLocationCountry"  rows="5" cols="60" value="" class= "inputStart inputIncomplete" placeholder="  Country of Start Location" autocomplete="off"></input>
                            <input id ="finalLocation" class="inputFinal inputIncomplete" name="input" value="" placeholder="  Final Location" autocomplete="off"></input>
                            <div>
                                <ul id="finalLocation-searchList"  style="display: none;" value="none">
                                </ul>
                            </div>
                            <input id="finalLocationCountry" readonly="readonly" rows="5" cols="60" value="" class= "inputFinal inputIncomplete" placeholder="  Country of Final Location" autocomplete="off"></input>
                        <div id="dateField" class="dateField">
                            <div class="inputDep">
                                <div class="dateLabel">Date of Departure</div>
                                <input id="dateDep" type="date" required pattern="\d{1,2}/\d{1,2}/\d{4)" placeholder="DD/MM/YYYY"" value=""  name="dateInput1" autocomplete="off" class= "dateDep inputIncomplete">
                            </div>
                            <div class="inputRet" id="inputRet">
                                <div class="dateLabel">Date of Return</div>
                                <input id="dateRet" type="date" required pattern="\d{1,2}/\d{1,2}/\d{4)" placeholder="DD/MM/YYYY" value=""  name="dateInput2" autocomplete="off" class= "dateRet inputIncomplete">
                            </div>
                        </div>
<!-- TODO: Add units button -->
                        <div class="buttonHolder">
                            <button id="submitButton" class="button" type="button" value="submit" name="">Add New Trip</button>
                        </div>
                        </section>
                    </form>
                </div > <!--close input form-->
            </section>
            <section id="tripsPlanned">
            </section>
        </main>
        <footer>
            <p class="footerText">This website uses APIs from: </p>
            <div class="logoContainer">
                <a href="https://www.pixabay.com/" target="_blank" rel="noreferrer">
                    <img class="logo" src='./img/pixabay.png' alt="pixabay logo">
                </a>
                <a href="https://www.geonames.org/"  target="_blank" rel="noreferrer">
                    <img class="logo" src='./img/geonames.png' alt="geonames logo">
                </a>
                <a href="https://www.weatherbit.io/"  target="_blank" rel="noreferrer">
                    <img class="logo" src='./img/weatherbit.png' alt="weatherbit.io logo">
                </a>
            </div>
            <p class="author">All Other Content Copyright T. Smith</p>
        </footer>
        <section  >
            <div id="plannedTrips" class="tripOverlay">
                <a href="javascript:void(0)" class="closebtn" label="Close All Trips">&times; Close (esc)</a>
                <div>
                    <h1 class="tripTitle">Current Trip Summary</h1>
                    <div id="tripsSummary" class="tripsSummary">
                    </div>
                </div>
                <button class="eraseData button" value="eraseAllData" label="Erase All Trips">Erase Trip Data</button>
            </div>
        </section>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Client.formHandler(event);
        })
    </script>
    <!-- <script>
        if('serviceWorker' in navigator){
            //Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->
</html>

<!-- For date support 12/01/21 https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date -->
<!-- Additional Date Support 13/01/21 https://www.smashingmagazine.com/printed-books/form-design-patterns/ -->
<!-- Loading gif from 10/02/21 https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif as 10-02-21 -->
<!-- home page image attribution 07/01/21 <a href="https://www.vecteezy.com/free-vector/holiday">Holiday Vectors by Vecteezy</a> -->
<!-- home page image attribution 07/01/21 <a href="https://www.vecteezy.com/free-vector/web">Web Vectors by Vecteezy</a> -->
<!-- Pure CSS accordian, 22/03/21, adapted from https://supfort.com/pure-css-accordion-without-javascript -->
<!-- import all images, 05/05/21, into index.js from https://stackoverflow.com/questions/42118296/dynamically-import-images-from-a-directory-using-webpack -->
<!-- Full screen overlay navigation menu, 23/03/21, adapted from  https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp -->
<!-- hover tooltip concept for weather icons modified from-+ CSS The Missing Manual p441-443 -->