.tripInput {
    display: none;
}

.tripLabel {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #4caf50;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}

.tripLabel:hover {
    background: #4E8774;
}

.tripContent {
    // display: flex;
    background: #E2E5F6;
    color: black;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

.tripInput + .tripLabel + .tripContent {
    display: none;
}

.tripInput:checked + .tripLabel + .tripContent {
    display: block;
}

.weatherForecast {
    display: flex;
    flex-flow: row wrap;
}