$background-color: #FFFFFF; //was #E76A4B;
$text-color: #023047;
$input-form: #eed595;
$white-color: #000000;
$fontSize: 16px;

body, main, section,form, footer {
    display: flex;
    flex-direction: column;
}

main, section {
    justify-content: center;
}


body {
    background-color: $background-color;
    // min-height: 100vh;
    font-size: $fontSize;
}

main {
    // width: 80%;
    outline: #000000;
    margin-top: 50px;
}

section {
    // max-width: 800px;
    // margin: 50px auto;
}

h1 {
    font-size: 4em;
    margin-left: 15px;

}

.page_title {
    text-align: center;
}

.introText {
    margin-left: 20px;
}

::-webkit-calendar-picker-indicator { 
    background: orange; }