$background-color: none; //was #E76A4B;FFFFFF
$text-color: #023047;
$input-form: #eed595;
$white-color: #000000;
$fontSize: 16px;

body, main, section,form, footer {
    display: flex;
    flex-direction: column;
}

main, section {
    flex: 1 0 auto;
    justify-content: center;
}


body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $background-color;
    // min-height: 100vh;
    font-size: $fontSize;
}

main {
    // width: 80%;
    outline: #000000;
    margin-top: 50px;
}

section {
    // max-width: 800px;
    // margin: 50px auto;
}

h1 {
    font-size: 4em;
    padding-left: 15px;
    background-color: $background-color;

}

.page_title {
    text-align: center;
    
}

.introText {
    padding-left: 20px;
    background-color: $background-color;
}

::-webkit-calendar-picker-indicator { 
    background-color: orange; }

#background {
    background:  url("../views/img/envio-30.jpg") center / cover no-repeat ;
}


// background: white url("../views/img/loading.gif") right no-repeat;