$background-color: rgba(0,0,0, 0.7); //was #E76A4B;FFFFFF
$text-color: #023047;
$input-form: #eed595;
$white-color: #000000;
$fontSize: 16px;

body, main, section,form, footer {
    display: flex;
    flex-direction: column;
}

main, section {
    flex: 1 0 auto;
    justify-content: center;
}
section {
    // max-width: 800px;
    // margin: 50px auto;
}

body, html {
    display: flex;
    flex-direction: column;
    height: 100%;
    // background-color: $background-color;
    // min-height: 100vh;
    font-size: $fontSize;
}

main {
    // width: 80%;
    outline: #000000;
    // margin-top: 50px;
    display: flex;
    // flex-direction: column ;
    // max-width: auto;
    flex-flow: column wrap;
    // justify-content: center;
    align-items: center;   
}



h1 {
    font-size: 4em;
    padding-left: 15px;
    // background-color: $background-color;

}

.page_title {
    text-align: center;
    
}

.author {
    text-align: center;
}

.introText, .introTitle {
    // max-width: 400px;
    text-align: center;
    // color: #EEEEEE;
    color: rgba(255,255,255, 2);
    // color:rgba(0,0,0, 1.4);
    // padding-left: 20px;
    text-shadow: 13px 5px 12px rgba(0,0,0, 1);
    overflow: hidden;

    // background-color: $background-color;
}

.introTitle {
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.introText {
    display:flex;
    justify-content: center;
    font-size: 1.5em;
    padding: 10px;
}

.headerTitle {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    max-height: 160px;
    // justify-content: center;
    
    // align-content: center;
    // align-items: center;
    background-color: rgba(0,0,0, 0.4);
    // background-color: rgba(255,255,255, 0.2);
    // display: inline-block;
    border-radius: 10px;
    // width: 500px;
    // max-width: 700px;s
    font-size: .75em;
    color: $text-color;
    margin-top: 10px;

    // margin: 100% auto;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0, 0.3);
}
$text-color: #219ebc;

header {
    display: flex;
    justify-content: center;
    // grid-template-columns: 50% auto 10%;
    // justify-content: space-between;
    color: $text-color;
    padding: 10px 40px;
    background-color: white;
}



::-webkit-calendar-picker-indicator { 
    background-color: orange; }

#background {
    background:  url("../views/img/envio-30.jpg") center / cover no-repeat ;
}


// background: white url("../views/img/loading.gif") right no-repeat;