@mixin displayShadow($dispersion) {
    box-shadow: 0 10px $dispersion black;
}

footer {
    flex-shrink: 0;
    justify-content: center;
    background-color: white;
    margin-top: auto;
}

.logo {
    padding: 40px;
}

.footerText {
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    word-wrap: normal;
}
.author {
    // justify-content: center;
    padding: 20px;
}