$switch-color:#219ebc;
$Intro-color: #ffb703;
$text-color: #219ebc;
$button-text: #ffffff;
$button-backg: #4caf50;

@mixin displayShadow($dispersion) {
    box-shadow: 0 10px 10px $dispersion black;
}

form {
    border-radius: 3px;
    // padding: 40px;
    // margin-top: 6em;
    margin: 0 auto;
}

.inputform {
    margin-top: 10px;
}

.input-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputURL {
    display: none;
}

label {
    display: flex;
    align-items: center;
  }
  
  span::after {
    padding-left: 5px;
  }
  
  input:invalid + span::after {
    content: '✖';
  }
  
  input:valid+span::after {
    content: '✓';
  }
@mixin displayShadow($dispersion) {
    box-shadow: 10px 5px $dispersion rgba(0,0,0, 1.2);
}
// $nav-color: #219ebc;
// $nav-backg: #ffffff;
// $nav-hover:#ffffff;
// $nav-hover-backg:#219ebc;
.loadingIcon {
    background: white url("../views/img/loading.gif") right no-repeat;
    background-size: 33%;
    z-index: 1;

//     padding-right: 17px;
}


#inputArea {
    display: flex;
    flex-flow: column wrap;
}

// input, label {
//     width: 300px;
//     height: 70px;
//     padding: 5px;
//     margin: 10px;

//     // min-width: 300px;
//     // max-width: 800px;
//     // height: 60px;
//     border-radius: 5px;
//     font-size: 18px;
//     &:focus {
//         @include displayShadow(40px);
    
//     }
// }

.inputStart, .inputFinal, .dateDep, .dateRet {
    width: 300px;
    height: 70px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    &:focus {
        @include displayShadow(40px);
    
    }
}

.inputDep, .inputRet {
    margin-top: 30px;;
    input {
        text-align: baseline;
        padding-top: 5px;
    }
}

.fieldLabel {
    // background-color: rgba(0,0,0, 1);
}

.dateLabel {
    position: relative;
    margin-bottom: -29px;
    margin-left: 13px;
    z-index: 1;
}
.dateField {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.btnCal-click.btnCal-click::-webkit-calendar-picker-indicator {
    right: -10px;
    position: absolute;
    width: 78px;
    height: 40px;
    color: black;//rgba(204, 204, 204, 0);
    opacity: 0;
}

.inputComplete {
    background: rgba(11, 156, 49, 1);
}

.inputIncomplete {
    // background: rgba(156, 11, 49, 1);
}

#date {
    // display: block;
    
}

.buttonHolder {
    display: flex;
    justify-content: space-evenly;
}

::-webkit-calendar-picker-indicator {
    color: black;
}
.error {
    display: none;
}

#text, #url {
    padding-top: 50px;
}

#sLocation, #fLocation {
    padding: 10px;
    margin: 10px;
}

#not-shown {
    display: none;
}

.searchList {
    
    margin: 5px;
    width: 100%;
    line-height: 120%;
    font-size: 1.1em;
    // z-index: 2;s
    color: black; //$button-backg;
    background-color: white;//$button-text;
    &:hover {
        // font-size: 2em;
        margin: 5px;
        color: white; //$button-text;
        background-color: black; //$button-backg;
        // @include displayShadow(10px);
    }
}

.button {
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 25px;
    font-size: 2em;
    color: $button-text;
    background-color: $button-backg;

    &:hover {
        font-size: 2em;
        color: $button-backg;
        background-color: $button-text;
        @include displayShadow(10px);
    }
}

.results {
    font-size: 1.5em;
}

.eraseData {
    margin-top: 20px;
}


.plannedTrips {
    margin-top: 20px;
}
