$button-text: #ffffff;
$button-backg: #4caf50;

@mixin displayShadow($dispersion) {
    box-shadow: 0 10px 10px $dispersion black;
}

.tripsSummary {
    margin-top: 50px;
    font-size: 1.5em;
    display: block;
    color: white;
}

.tripTitle {
    margin-top: 50px;
    color: white;

}

#plannedTrips {

}

.tripOverlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.2s;
}

.tripOverlayContent {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.tripOverlay .closebtn {
    position: absolue;
    top: 20px;
    right: 45px;
    font-size: 2.5em;
}
.tripOverlay a {
    padding: 8px;
    text-decoration: none; 
    font-size: 36px;
    color: white;
    padding-top: 50px;
    display: block;
    transition: 0.2s;
}

.tripLabel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.clickText {
    font-size: 1em;
    color: #4caf50;
    &:hover {
        font-size: 1em;
        color: $button-backg;
        background-color: $button-text;
    }
}

.labelDiv {
    display: flex;
    justify-content: space-between;
}

.removeTrip {
    width: 160px;
    height: 42px;
    border: none;
    border-radius: 25px;
    font-size: 0.8em;
    color: $button-text;
    background-color: $button-backg;

    &:hover {
        color: $button-backg;
        background-color: $button-text;
    }
}


.eraseData {
    padding: 20px;

}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
}

.tripDetails {
    font-size: 2em;
    color: black;
    font-weight: 400;  
}


.tripText {
    line-height: 1.5em;
    height: auto;
}

.pixaImg {
    padding: 5px;
    height: auto;
    max-width: 600px;
    border-radius: 14px;
}

.weatherDetails {
    border-radius: 9px;
    background-color: rgba(49, 200, 238, 0.25);;
}

.weatherForecastDiv, .tripText, .weatherDetails>p {
    margin: 10px;
    margin-top: 20px;
    padding: 5px
}

.weatherForecast, .forecastTitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.forecastTitle {
    font-size: 1.2em;
}
.iconFormat {
    position: relative;
    width: 120px;
    height: 120px;
}

.iconFormat figcaption {
    text-align: center;
    border-radius: 11px;
    opacity: 0;
    transition: opacity .5s ease-in;
    position: absolute;
    top: 30%;
    left: 0;
    right:0;
    z-index: 1;
    background-color: rgba(255,255,255, 0.4);
}
.iconFormat:hover figcaption {
    opacity: 1;
}

.iconDetails {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}

.weatherStats {
    text-align: center;
}