$button-text: #ffffff;
$button-backg: #4caf50;

@mixin displayShadow($dispersion) {
    box-shadow: 0 10px 10px $dispersion black;
}

.tripsSummary {
    margin-top: 50px;
    font-size: 1.5em;
    display: block;
    color: white;
}

.tripTitle {
    margin-top: 50px;
    color: white;
}
#plannedTrips {

}

.tripOverlay {
    height: 100%;
    width: 0%;
    // padding-left: 2em;
    // padding-right: 2em;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.2s;
}

.tripOverlayContent {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}

.tripOverlay .closebtn {
    position: absolue;
    top: 20px;
    right: 45px;
    font-size: 2.5em;
}
.tripOverlay a {
    padding: 8px;
    text-decoration: none; 
    font-size: 36px;
    color: white;
    padding-top: 50px;
    display: block;
    transition: 0.2s;
}

.tripLabel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.clickText {
    font-size: 1em;
    color: #4caf50;
    &:hover {
        font-size: 1em;
        color: $button-backg;
        background-color: $button-text;
        // @include displayShadow(10px);
    }
}

.labelDiv {
    display: flex;
    justify-content: space-between;
}

.removeTrip {
    width: 150px;
    height: 42px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    color: $button-text;
    background-color: $button-backg;

    &:hover {
        font-size: 1em;
        color: $button-backg;
        background-color: $button-text;
        // @include displayShadow(10px);
    }
}


.eraseData {
    padding: 20px;

}

.closebtn {
    // padding: 20px;
}

.tripContent {
    // display
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
}

.tripDetails {
    font-size: 2em;
    color: black;
    font-weight: 400;  
}


.tripText1 {
    line-height: 1.5em;
    height: auto;
    // font-size: 2em;
}

.tripText2 {
    // display: flex;
    // flex: 1 1 100px;
    // align-content: space-between;
}

.pixaImg {
    // display: flex;
    // flex: 1 1 100px;
    // align-content: space-between;
    padding: 5px;
    height: auto;
    max-width: 600px;
    border-radius: 12px;
}

.weatherForecastDiv {
    margin: 20px;
    padding: 20px;
}

.weatherForecast, .forecastTitle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.forecastTitle {
    font-size: 1.2em;
}
.iconFormat {
    position: relative;
    // max-width: 120px;
    width: 120px;
    height: 120px;
    // &:hover figcaption {
    //     opacity: 1;
    //     // display: block;
    // }
}

.iconFormat figcaption {
    // display: none;
    // position: relative;
    text-align: center;
    border-radius: 9px;
    opacity: 0;
    transition: opacity .5s ease-in;
    position: absolute;
    top: 30%;
    left: 0;
    right:0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    background-color: rgba(255,255,255, 0.4);
}
.iconFormat:hover figcaption {
    opacity: 1;
}

.iconDetails {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
}

.weatherStats {
    text-align: center;
}